*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial;}
body{height: 900px;}
header {
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #c1524e 40%, #c9c1c1 100%);
}

h1 {
	font-size: 80px;
	margin-bottom: 30px;
}
h3 {
	text-align:center;
	margin-top:5px;
	color:rgba(0,0,0,.3);
}
  
h3 > a,a:visited {
	color:#777;
	text-decoration:underline;
}
  
h3 > a:hover {
	color:#48679687;
	cursor: pointer;
}

table.head_user{
	background-color: #c1524e;
    border:none;
	empty-cells: hide; 
    border-bottom: 2px solid #D8D8D8;
}

table.head_user input[type=text] {
    border: none;
	font-size: 16px;
	width: 200px;
	height: 30px;
	text-align: center;
    background-color: #c1524e;
	color: #FFF;
}
table.hover input[type=text]{
	border: none;
	width: 200px;
	height: 30px;
	text-align: center;
    background-color: #fff;
	color: #717171;
}
.options{
	background-color: #fff;
	width: 40px;
	height: 30px;
    border:none;
	empty-cells: hide; 
    border-bottom: 2px solid #D8D8D8;
}
table.options input[type=text]{
	border: none;
	font-size: 20px;
	width: 400px;
	height: 30px;
	text-align: center;
    background-color: #fff;
	color: #717171;
}
button.icon{
	border: none;
	width: 40px;
	height: 30px;
	background-color: #fff;
}
i:hover{ 
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);   
	transform: scale(1.23); 
	cursor: pointer;
	color:#717171
} 
i { 
    color: #c1524e; 
    font-size: 20px;
}
.year{
	background-color: #FFF;
	width: 200px;
	height: 40px;
	font-size: 16px;
	border-radius: 10px;
	border-color: #D8D8D8;
  
  }
  .btn{
	width: 100px;
	height: 40px;
	background-color: #c1524e;  
	font-size: 16px;
	color: #FFF;
	cursor:pointer;
	border-radius: 10px;
  }
  .btn:hover{
	cursor: pointer;
	background: #fff; 
	color: #c1524e;
  }
  .btnRegiCan{
	width: 200px;
	height: 50px;
	background-color: #c1524e;  
	font-size: 16px;
	color: #FFF;
	cursor:pointer;
	border-radius: 10px;
  }
  .btnRegiCan:hover{
	cursor: pointer;
	background: #fff; 
	color: #c1524e;
  }
